page-reset .logo {
  min-height: 170px;
  text-align: center;
}

page-reset .logo img {
  max-width: 250px;
}

page-reset .corpo {
  background: #000000;

}

page-reset .form{
  max-width: 600px;
  margin: auto;
}
