<ion-header>
    <ion-navbar>
      <ion-title>Notificações</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content class="list-page">
    <ion-list>

      <ion-item-sliding *ngFor="let msg of msgList" #slidingItem [attr.track]="msg.track | lowercase">
        <button ion-item (click)="verMsg(msg)">
          <h2>{{msg.remet}}</h2>
          <p>{{msg.titulo}}</p>
          <ion-note item-end>{{msg.time}}</ion-note>
        </button>
        <ion-item-options>
          <button ion-button color="danger" icon-start (click)="delete(msg.$key, msg)">
            <ion-icon name="trash"></ion-icon>
            Apagar
          </button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </ion-content>

  <ul>
    <li *ngFor="let msg of msgList1 | async">
        {{msg.titulo}} - {{msg.$key}}
      <button (click)="deleteItem(item.key)">Delete</button>
    </li>
  </ul>
