page-signup .logo {
  min-height: 170px;
  text-align: center;
}

page-signup .logo img {
  max-width: 250px;
}

page-signup .corpo {
  background: #000000;

}

page-signup .form{
  max-width: 600px;
  margin: auto;
}
